---
import type { GetStaticPaths } from "astro";
import Layout from "~/layouts/layout.astro";
import { useTranslations } from "~/lib/i18n";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import logo from "~/assets/logo.png";

export const getStaticPaths = (() => {
  return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}) satisfies GetStaticPaths;

const locale = Astro.params.locale as "en" | "es";
// const t = useTranslations(Astro.params.locale as "en" | "es");
// const projects = (
//   await getCollection("projects", ({ id }) => id === locale)
// ).flatMap((entry) => entry.data);
---

<Layout title="bl4d3tv" {locale}>
  <main
    class="flex flex-col items-center justify-center max-w-3xl w-full p-4 space-y-5 flex-1"
  >
    <div class="flex flex-col items-center justify-center space-y-8">
      <Image src={logo} alt="" width="256" loading="eager" />
      <h1 class="text-4xl font-bold">bl4d3tv</h1>
      <div class="flex space-x-4 items-center">
        <a href="mailto:me@bl4d3.dev" class="social-link"
          ><span class="icon-[tabler--mail] size-8">Email</span></a
        >
        <a href="https://github.com/bl4d3tv" target="_blank" class="social-link"
          ><span class="icon-[simple-icons--github] size-8">GitHub</span></a
        >
        <a
          href="https://bsky.app/profile/bl4d3tv.bsky.social"
          target="_blank"
          class="social-link"
          ><span class="icon-[simple-icons--bluesky] size-8">Bluesky</span></a
        >
        <a href="https://bl4d3.itch.io/" target="_blank" class="social-link"
          ><span class="icon-[simple-icons--itchdotio] size-8">Itch.io</span></a
        >
      </div>
    </div>
  </main>
</Layout>
