---
import { useTranslations } from "~/lib/i18n";

const { locale = "en" } = Astro.props;

const t = useTranslations(locale as "en" | "es");
---

<footer
  class="flex items-center justify-center w-full p-4 text-neutral-500 space-x-2"
>
  <span>{t("footer.msg")}</span>
  <a
    href="https://github.com/bl4d3tv/bl4d3.dev"
    class="social-link"
    target="_blank">{t("footer.source")}</a
  >
</footer>
